<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hyades.mapper.TechStackMapper">
    <!-- 쿼리 작성 -->

    <select id="findById" parameterType="java.lang.Long" resultMap="techStackResultMapper">
        select * from tech_stack where tech_stack_id = #{techStackId};
    </select>

    <select id="findMemberStacks" parameterType="java.lang.Long" resultMap="techStackResultMapper">
        select * from tech_stack where member_id = #{memberId};
    </select>

    <insert id="insertTechStackList" parameterType="java.util.List">
        insert into tech_stack (member_id, tech_name) values
        <foreach collection="list" item="techStack" separator=",">
            (#{techStack.memberId}, #{techStack.techName})
        </foreach>
    </insert>

    <update id="updateTechStackList" parameterType="java.util.List">
        <foreach collection="list" item="techStack" index="index" separator=";">
            update tech_stack
            set tech_name = #{techStack.techName}
            where tech_stack_id = #{techStack.id}
        </foreach>
    </update>

    <delete id="deleteTechStackList" parameterType="java.util.List">
        delete from tech_stack where
        <foreach collection="list" item="techStack" index="i" separator="or">
            tech_stack_id = #{techStack.id}
        </foreach>
    </delete>

    <resultMap id="techStackResultMapper" type="com.hyades.domain.entity.TechStack">
        <id column="tech_stack_id" property="id"/>
        <result column="member_id" property="memberId"/>
        <result column="tech_name" property="techName"/>
    </resultMap>
</mapper>